/*[is=responsive-body], responsive-child {
    margin: 0;
    padding: 0.1px 0;
    display: block;
}*/
text {
	font-family: 'Avenir Next';
	font-size: 14px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.head {
	max-width: 1000px;
	margin: 0 auto;

}



h1 {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 40px;
	word-wrap: break-word;

}

h2 {
	font-family: 'Helvetica Neue';
	color: grey;
	font-size: 20px;
	text-align: center;

}

h3 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Avenir Next';
	font-size: 14px;

}


h5 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

.content {
 	margin-top: 30px;
}
.article {
	max-width: 1000px;
	margin: 0 auto;
}


.paragraph p {
	font-family: Garamond;
	font-size: 16px;
	text-align: left;
	padding-left: 460px;
	padding-right: 460px;
	margin-bottom: 20px;
}



.map { 
	margin: 30 auto;
	height: 75%;
	width: 90%;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}